<div class="header-inner">
    <div class="container">
        <div class="cat-nav-head">
            <div class="row">
                <div class="col-12">
                    <div class="menu-area">
                        <!-- Main Menu -->
                        <nav class="navbar navbar-expand-lg">
                            <div class="navbar-collapse">
                                <div class="nav-inner">
                                    <ul class="nav main-menu menu navbar-nav">
                                        <li id="Home"><a href="/Home/Index/">Anasayfa</a></li>
                                        <li id="Products"><a href="/Shop/Products/">Ürünler</a></li>
                                        <li id="Sellers">
                                            <a   href="#">Mağazalar<i class="ti-angle-down"></i><span class="new">New</span></a>
                                            <ul  class="dropdown">
                                                <li ><a id="Sellers" href="/Shop/Sellers/">Mağazalar</a></li>
                                                <li><a href="cart.html">Mağaza Aç</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="contact.html">İletişim</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!--/ End Main Menu -->	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Header Inner -->