
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Yeni Alt Kategori Ekle</strong>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form asp-action="CategoryAdd" aria-controls="Admin" method="post" >
                                    <div class="form-group">
                                        <label for="cc-payment" class="control-label mb-1">Alt Kategori Ad </label>
                                        <input id="cc-payment" name="Name" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn-success btn-lg" value="Ekle" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>*@



