@{
    ViewData["Title"] = "MemberAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Basic</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Üyeler</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Yeni Üye Ekle</h3>
                                </div>
                                <hr>

                                @{
                                    if (@ViewBag.ErrorMessage != null)
                                    {
                                        <div class="container">
                                            <div class="alert alert-danger">
                                                <a href="#" class=" btn-danger"></a>
                                                <strong>Hata:</strong> @ViewBag.ErrorMessage
                                            </div>
                                        </div>
                                    }
                                    using (Html.BeginForm("MemberAdd", "Admin", FormMethod.Post, new { id = "example-form", role = "form" }))
                                    {
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Üye Adı</label>
                                            <input name="FirstName" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                        </div>
                                        <div class="form-group has-success">
                                            <label for="cc-name" class="control-label mb-1">Üye Soyadı</label>
                                            <input name="Surname" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-1">Telefon</label>
                                            <input name="Phone" type="text" id="phone" class="form-control phone">
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="cc-exp" class="control-label mb-1">Email</label>
                                                    <input name="Email" type="tel" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration">
                                                    <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label for="x_card_code" class="control-label mb-1">Şifre</label>
                                                <div class="input-group">
                                                    <input id="x_card_code" name="Password" type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" autocomplete="off">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                                              data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                                              data-trigger="hover"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="submit" class="btn btn-success btn-lg align-content-center" value="Oluştur" />
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                    </div>
                </div> <!-- .card -->

            </div><!--/.col-->
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $('.phone').inputmask('(999)-999-9999');

    });
</script>